﻿@using Microsoft.AspNetCore.Components.Authorization
@using eStore.Components.Layout

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>Erorr.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>