<div class="top-row ps-3 navbar navbar-dark bg-primary shadow-lg">
    <div class="container-fluid">
        <a class="navbar-brand text-white fw-bold" href="/">eStore</a>
        <label for="nav-toggle" class="navbar-toggler p-2">
            <span class="navbar-toggler-icon"></span>
        </label>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="d-none" id="nav-toggle" />

<div class="nav-scrollable bg-light shadow" onclick="document.querySelector('#nav-toggle').click()">
    <nav class="d-flex flex-column p-3">
        <div class="nav-item py-2">
            <NavLink class="nav-link d-flex align-items-center text-dark" href="" Match="NavLinkMatch.All">
                <i class="fas fa-home me-2"></i> Home
            </NavLink>
        </div>
        <div class="nav-item py-2">
            <NavLink class="nav-link d-flex align-items-center text-dark" href="categories">
                <i class="fas fa-th-large me-2"></i> Categories
            </NavLink>
        </div>
        <div class="nav-item py-2">
            <NavLink class="nav-link d-flex align-items-center text-dark" href="members">
                <i class="fas fa-users me-2"></i> Members
            </NavLink>
        </div>
        <div class="nav-item py-2">
            <NavLink class="nav-link d-flex align-items-center text-dark" href="products">
                <i class="fas fa-box me-2"></i> Products
            </NavLink>
        </div>
        <div class="nav-item py-2">
            <NavLink class="nav-link d-flex align-items-center text-dark" href="myaccount">
                <i class="fas fa-user me-2"></i> My Account
            </NavLink>
        </div>

        <div class="nav-item py-2">
            <NavLink class="nav-link d-flex align-items-center text-dark" href="sales-report">
                <i class="fas fa-chart-bar me-2"></i> Sales Report
            </NavLink>
        </div>
    </nav>
</div>

<!-- Add Font Awesome Icons Library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

